@charset "utf-8";
@import "reset";

main{
    width: 100%;
    height: 100vh;
    background: #333;
    overflow: hidden;
    display: flex;

    header{
        width: 30%;
        height: 100%;
       // border: 10px solid yellow;
       padding:20vh 5vw 10vh;
       display: flex;
       justify-content: flex-start;
       align-content: space-between;
       flex-wrap: wrap;

       h1{
           font:bold 40px/1 "arial";
           color:#fff;
       }
       p{
           font: 15px/1 "arial";
           color:#888;
       }

    }

    section{
        width: 70%;
        height: 100%;
        //border: 10px solid pink;

        display: flex;

        article{
           flex:1;
           // border: 5px solid aqua;
           overflow: hidden;
           filter: saturate(10%);
           opacity: 0.3;
           transition: 0.5;

           img{
               width: 100%;
               height: 100%;
               object-fit: cover;
           }

           &:hover{
               flex:2;
               filter: saturate(120%);
               opacity: 1;
           }
        }
    }

}
